{% extends 'base.html' %}
{% import 'macros.html' as macro %}

<!-- Styles block -->


<!-- Main page -->
{% block content %}
<div class="container-fluid">
  <div class="header">
    <h1>Nairobi Times</h1>
  </div>

  <!-- All the news -->
  <div class="row">
      {{ macro.newsOfTheDay(sources_news) }}
  </div>

  <!-- sports -->
  <div class='row'>
    <div class="col">
      <!-- <h1>Sports News</h1> -->
      <!-- {{ macro.newsOfTheDay(sport_news) }} -->
    </div>

    <!-- business -->
    <div class="col">
      <!-- <h1>Business news</h1> -->
        <!-- {{ macro.newsOfTheDay(business_news) }} -->
    </div>

    <!-- entertainment -->
    <div class="col">
      <!-- <h1> Entertainment News</h1> -->
        <!-- {{ macro.newsOfTheDay(ent_results) }} -->
    </div>

    <!--  -->

  </div>

</div>
{% endblock %}