{% extends 'base.html' %}
{% import 'macros.html' as macro %}

<!-- Styles block -->
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

<!-- Main page -->
{% block content %}
<div class="container-fluid">
  <div id="main">
    <div class="header">
      <h1>Nairobi Times</h1>
    </div>

   
    <div class="container">
      <form>
        <input type="text" name="search_query" placeholder="Search for an article" class="form-control">
        <input type="submit" value="Submit" class="btn btn-default">
      </form>
  
    </div>

    <!-- All the news -->
    <!-- <div class="row g-4"> -->
    <!-- <div class="col-md-3"> -->
    {{ macro.newsOfTheDay(sources_news) }}
    <!-- </div> -->
    <!-- </div> -->

    <!-- Entertainment routing -->
    <div class='row'>
      <!-- <div class='col'> -->
      {{ macro.categoryList(entertainment) }}
    </div>

    <!-- Sports results -->
    <div class='row'>
      <!-- <div class='col'> -->
      {{ macro.categoryList(sports) }}
      <!-- </div> -->
    </div>

    <div class='row'>
      <!-- <div class='col'> -->
      {{ macro.categoryList(health) }}
      <!-- </div> -->
    </div>

    <div class='row'>
      <!-- <div class='col'> -->
      {{ macro.categoryList(technology) }}
      <!-- </div> -->
    </div>

    <div class='row'>
      <!-- <div class='col'> -->
      {{ macro.categoryList(business) }}
      <!-- </div> -->
    </div>

  </div>
  {% endblock %}