{% macro newsOfTheDay(news_list) %}

{% for news in news_list %}
<div class="col-md-3">
  <div class="card bg-dark text-white">
    <img src="{{ news.urlToImage }}" class="card-img" alt="...">
    <div class="card-img-overlay">
      <h5 class="card-title">{{ news.name }}</h5>
      <p class='card-text'>{{ news.station }}}</p>
      <p class="card-text">{{ news.description }}</p>
      <p class="card-text">{{ news.author }}}</p>
      <a href="{{ news.url }}">Click here for more</a>
    </div>
  </div>
</div>
{% endfor %}


{% endmacro %}